<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
</style>

	
<body>
	<!-- style="background-color:gray;color:white;padding:20px;" -->
	<!-- class="navbar navbar-expand-lg navbar-light bg-light" -->
	<div  th:fragment="copy"> 
		<hr>
	&copy; Copyright 2019 Procont Info Soft SRL 
	<br />
	 <!-- <a href="mailto:office@pro-cont.ro">office@pro-cont.ro</a> -->
	office@pro-cont.ro
		<hr>
	</div>
	
</body>
</html>