<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Simple jsTree</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>

<script type="text/javascript">
	$(function() {
		$.ajax({
			async : true,
			type : "GET",
			url : "http://localhost:8080/assets",
			dataType : "json",
			success : function(json) {
				createJSTree(json);
			},

			error : function(xhr, ajaxOptions, thrownError) {
				alert("xhr.status: " + xhr.status);
				alert("thrownError: " + thrownError);
			}
		});
	});
	
	/* $('#jsTree').bind("select_node.jstree", function (e, data) {
		alert("select_node.jstree");
	    var href = data.node.a_attr.href;
	    window.location.href = href;
	}); */
	
	/* $("#jsTree").jstree(true).set_icon(nodeId, "/images/blabla.png"); */
	
	/* $("#jsTree").on("click", ".jstree-anchor", function(evt)
			{
			alert("select_node.jstree");
			var link = $(evt.target).attr("href");
			window.open(link, '_blank');
			}); */
	
		/* $('#jsTree').on('changed.jstree', function(e, data) {

			      //do something
			    }).on("open_node.jstree", function(event, data) {
			        jQuery.each(data.instance._model.data, function(key, val) {
			            console.log(key + ", " + val);
			           if (key.length < 4 || key=='#') {
			               jQuery.jstree.reference("#tree-edit").set_type(val, "selectable");
			           }
			        });
			    }).on("loaded_node.jstree", function(event, data) {
			        console.log(data);

			    }).jstree({
			        'plugins': ["search", "types"],
			        'core': {
			            'data': {
			                'url': 'http://www.google.com/json',
			                'data': function(node) {
			                    return {'id': node.id};
			                }
			            }
			        },
			        'types': {
			            'selectable': {
			                'icon': 'http://elpidio.tools4software.com/images/icon-ok-small.png'
			            },
			            'default': {
			                'icon': 'http://www.fabulatech.com/printer-for-remote-desktop-server-help/img/icons/warning-small.gif'
			            }
			        },
			    });
 */
	function createJSTree(jsondata) {
		$('#jsTree').jstree(  //.jstree() function accepts a config object.
				{
					'core' : {
						'check_callback': true, /* determines what happens when a user tries to modify the structure of the tree If left as false all operations like create, rename, delete, move or copy are prevented */
						'data' : jsondata
					},
					"plugins" : [ "search", "contextmenu", "types" ],
					'types': {
		                "folder": {
		                    "icon": "jstree-icon jstree-folder"
		                },
		                "file": {
		                    "icon": "jstree-icon jstree-file"
		                }

		            },
					"search" : {
						"case_sensitive" : false,
						"show_only_matches" : true
					},
					"contextmenu" : {
						"items" : function($node) {

							var nodeId = $('#jsTree').jstree().get_selected(
									"id")[0].id;
							var nodeType = $('#jsTree').jstree().get_selected(
									"id")[0].type;
							/* alert("folder: " + nodeType) */

							var tree = $("#jsTree").jstree(true);
							if ($node.type === 'file') {
								/* alert("file: " + $node); */
								return getFileContextMenu($node, tree);
							} else {

								return getFolderContextMenu($node, tree);
							}
						}
					}
				}).bind("select_node.jstree", function(evt, data) {

														var i, j, k = [], r = [], m=[], ids = [];
														for (i = 0, j = data.selected.length; i < j; i++) {
															//alert("data.selected[i]: " + data.selected[i]);
															r.push(data.instance.get_node(data.selected[i]).text);
															k.push(data.instance.get_node(data.selected[i]).id)
															m.push(data.instance.get_node(data.selected[i]).parent)
											
														}
					//alert('Selected: ' + r.join(', '));
					var x = document.getElementById("selectedNodeText"); //text
					x.innerHTML = 'Selected node text: ' + r.join(', ');
					var y = document.getElementById("selectedNodeId"); //id
					y.innerHTML ='Selected node id: ' + k.join(', ');
					//alert('Selected: ' + m.join(', '));
					var z = document.getElementById("selectedNodeParent");//parent
					z.innerHTML = 'Selected node parent: ' + m.join(', ');
				});
	}

	function getFolderContextMenu($node, tree) {
		return {
			"Create" : {
				"separator_before" : false,
				"separator_after" : true,
				"label" : "Create",
				"action" : false,
				"submenu" : {
					"File" : {
						"seperator_before" : false,
						"seperator_after" : false,
						"label" : "File",
						action : function(data) {
							var inst = $.jstree.reference(data.reference),
							obj = inst.get_node(data.reference);
							//alert("In rename " + obj.id);
							//var link = $(evt.target).attr("http://google.com");
							window.open("http://localhost:8080/assets/addForm/" + obj.id, '_self');
						}
					},
					"Folder" : {
						"seperator_before" : false,
						"seperator_after" : false,
						"label" : "Folder",
						action : function(obj) {
							$node = tree.create_node($node, {
								text : 'New Folder',
								icon : 'glyphicon glyphicon-folder-open',
								a_attr : {
									type : 'folder'
								}
							});
							tree.deselect_all();
							tree.select_node($node);
							alert("In create Folder from node " + obj.id);
						}
					}
				}
			},
			"Edit" : {
				"separator_before" : false,
				"separator_after" : false,
				"label" : "Edit",
				"action" : function(data) {
					var inst = $.jstree.reference(data.reference),
					obj = inst.get_node(data.reference);
					//alert("In rename " + obj.id);
					//var link = $(evt.target).attr("http://google.com");
					window.open("http://localhost:8080/assets/edit/" + obj.id, '_self');
					//tree.edit($node);
				}
			},
			"Remove" : {
				"separator_before" : false,
				"separator_after" : false,
				"label" : "Remove",
				"action" : function(data) {
					var inst = $.jstree.reference(data.reference),
					obj = inst.get_node(data.reference);
					//alert("In delete node id" + obj.id);
					var x = confirm("Are you sure you want to delete node " + obj.text);
					  if (x)
						  window.open("http://localhost:8080/assets/delete/" + obj.id, '_self');
					  else
					    return false;
				}
			}
		};
	}

	function getFileContextMenu($node, tree) {
		return {
			"Edit" : {
				"separator_before" : false,
				"separator_after" : false,
				"label" : "Edit",
				"action" : function(obj) {
					tree.edit($node);
				}
			},
			"Remove" : {
				"separator_before" : false,
				"separator_after" : false,
				"label" : "Remove",
				"action" : function(obj) {
					tree.delete_node($node);
				}
			}
		};
	}

	$(document).ready(function() {
		$("#search").keyup(function() {
			var searchString = $(this).val();
			$('#jsTree').jstree('search', searchString);
		});
		$('#jsTree').slimScroll({
			height : '300px'
		});
	});
	

	$("#jsTree").on("select_node.jstree", function(evt, data) {
		alert(data.node.text);
	});
</script>
</head>
<body>
	<div class="container" style="padding: 10px 10px;">
		<h1>Simple jQuery Jstree Example with href link and Search</h1>
		<div class="well clearfix">
			<div class="col-md-4">
				<!--panel-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search node .." id="search"> <span
								class="input-group-btn">
								<button class="btn btn-default" type="button" id="btn-search">Go!</button>
							</span>
						</div>
						<!-- /input-group -->
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-8" id="jsTree"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<!--panel-->
				<div class="panel panel-default">
					
					<div class="panel-heading" id="selectedNodeId">Selected Node Id -</div>
					<div class="panel-body">
						<div class="" id="selectedNodeText">Selected node Text -</div>
					</div>
					<div class="panel-heading" id="selectedNodeParent">Selected Node Parent -</div>
					<div class="panel-body"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Add new node -->
	<div class="container" style="padding: 10px 10px;" th:if="${newMode}">
		<div class="well clearfix">
			<h1>New node: </h1> 
			<div class="col-md-12">
				<!--panel-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="input-group">						
							<form  action="#" th:action="@{/assets/addNew}" th:object="${asset}" method="post">
							<form name="myForm" action="#" th:action="@{/assets/addNew}" th:object="${asset}" method="post">
								<div class="row">
									<div class="form-group col-md-3">
										<label for="name" class="col-form-label">Parent</label> <input
											type="text" th:field="*{parent}" class="form-control" id="parent"
											placeholder="Parent"> <span
											th:if="${#fields.hasErrors('parent')}" th:errors="*{parent}"
											class="text-danger"></span>
									</div>
									<div class="form-group col-md-9">
										<label for="email" class="col-form-label">Text</label> <input
											type="text" th:field="*{text}" class="form-control" id="text"
											placeholder="Text"> <span
											th:if="${#fields.hasErrors('text')}" th:errors="*{text}"
											class="text-danger"></span>
									</div>
									
								</div>
								<!-- <div class="row">
									<div class="col-md-6 mt-5">
										<input type="submit" class="btn btn-primary" value="Update Asset">
										<input type="cancel" class="btn btn-primary" value="Cancel">
									</div>
								</div> -->
								
								<div class="form-actions">
								  <button type="submit" class="btn btn-primary">Save changes</button>
								  <button type="button" class="btn btn-primary" onclick="history.go(-1)">Cancel</button>
								</div>
								
							</form>
						
						</div>
					</div>						
				</div>
			</div>
		</div>
	</div>
	
	<!-- Edit/update existing node -->
	<div class="container" style="padding: 10px 10px;" th:if="${editMode}">
		<div class="well clearfix">
			<h1>Edit node: <span th:text="${asset.text}">Hello</span> </h1> 
			<div class="col-md-12">
				<!--panel-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="input-group">						
							<form name="myForm" action="#" th:action="@{/assets/update/{id}(id=${asset.id})}" th:object="${asset}" method="post">
								<div class="row">
									<div class="form-group col-md-3">
										<label for="name" class="col-form-label">Parent</label> <input
											type="text" th:field="*{parent}" class="form-control" id="parent"
											placeholder="Parent"> <span
											th:if="${#fields.hasErrors('parent')}" th:errors="*{parent}"
											class="text-danger"></span>
									</div>
									<div class="form-group col-md-9">
										<label for="email" class="col-form-label">Text</label> <input
											type="text" th:field="*{text}" class="form-control" id="text"
											placeholder="Text"> <span
											th:if="${#fields.hasErrors('text')}" th:errors="*{text}"
											class="text-danger"></span>
									</div>
									
								</div>
								<!-- <div class="row">
									<div class="col-md-6 mt-5">
										<input type="submit" class="btn btn-primary" value="Update Asset">
										<input type="cancel" class="btn btn-primary" value="Cancel">
									</div>
								</div> -->
								
								<div class="form-actions">
								  <button type="submit" class="btn btn-primary">Save changes</button>
								  <button type="button" class="btn btn-primary" onclick="history.go(-1)">Cancel</button>
								</div>
								
							</form>
						
						</div>
					</div>						
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>

